#include <scroll-snap.dtsi>
#include <input/processors.dtsi>

&spi0 {
    status = "okay";

    trackball_central: trackball@1 {
        status = "okay";
        compatible = "pixart,paw3222";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&xiao_d 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        res-cpi = <1300>;
    };
};

// ペリフェラル（split経由）のリスナーを有効化
&peripheral_listener {
    status = "okay";
};

// excluded-positions以外のキーを押すとAMLが解除される。positionsは、lism.dtsiのpositionsと同じ順番で指定する必要がある。
//キー入力中のオートマウスレイヤー無効
&zip_temp_layer {
    require-prior-idle-ms = <350>; 

    excluded-positions = <
        //6 // U
        //7 // I
        16 // J
        17 // K
        18 // L
        26 // M
        28 // .
    >;
};

// セントラルのリスナーを有効化し、deviceを紐付け
&central_listener {
    status = "okay";
    device = <&trackball_central>;

// レイヤーごとのジェスチャー有効設定
    gesture_l11 {
        layers = <11>;
        input-processors = <&zip_mouse_gesture_1 &zip_xy_scaler 0 1>;
    };
    gesture_l12 {
        layers = <12>;
        input-processors = <&zip_mouse_gesture_2 &zip_xy_scaler 0 1>;
    };
    gesture_l13 {
        layers = <13>;
        input-processors = <&zip_mouse_gesture_3  &zip_xy_scaler 0 1>;
    };
    gesture_l14 {
        layers = <14>;
        input-processors = <&zip_mouse_gesture_4  &zip_xy_scaler 0 1>;
    };
    gesture_l15 {
        layers = <15>;
        input-processors = <&zip_mouse_gesture_5  &zip_xy_scaler 0 1>;
    };
    gesture_l16 {
        layers = <16>;
        input-processors = <&zip_mouse_gesture_6 &zip_xy_scaler 0 1>;
    };


    input-processors = 
        <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
        <&zip_temp_layer 8 10000>;

// レイヤー4,5のときだけカーソルを遅くする設定（スナイプモード）
    snipe_mode {
        layers = <4 5>; 
        input-processors = 
            <&zip_temp_layer 8 10000>, // オートマウスの設定を引き継ぐ
            <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_xy_scaler 1 3>;       // カーソル移動量を1/3倍（3倍遅く）にする
    };

    scroller {
        layers = <9>;
        input-processors = 
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>,
            <&zip_scroll_scaler 1 16>,
            <&zip_scroll_snap>;
    };
// レイヤー10のときにY軸反転スクロール(Windows用)
    scroller_reverse {
        layers = <10>;
        input-processors = 
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_transform INPUT_TRANSFORM_X_INVERT>,
            <&zip_scroll_scaler 1 16>,
            <&zip_scroll_snap>;
    };
};

/ {
    /* 左手側にも追加が必要 */

    zip_mouse_gesture_1: zip_mouse_gesture_1 {
        compatible = "zmk,input-processor-mouse-gesture";
        #input-processor-cells = <0>;
    };

    zip_mouse_gesture_2: zip_mouse_gesture_2 {
        compatible = "zmk,input-processor-mouse-gesture";
        #input-processor-cells = <0>;
    };

    zip_mouse_gesture_3: zip_mouse_gesture_3 {
        compatible = "zmk,input-processor-mouse-gesture";
        #input-processor-cells = <0>;
    };
    zip_mouse_gesture_4: zip_mouse_gesture_4 {
        compatible = "zmk,input-processor-mouse-gesture";
        #input-processor-cells = <0>;
    };

    zip_mouse_gesture_5: zip_mouse_gesture_5 {
        compatible = "zmk,input-processor-mouse-gesture";
        #input-processor-cells = <0>;
    };
    zip_mouse_gesture_6: zip_mouse_gesture_6 {
        compatible = "zmk,input-processor-mouse-gesture";
        #input-processor-cells = <0>;
    };
};
