&spi0 {
    status = "okay";

    trackball_central: trackball@1 {
        status = "okay";
        compatible = "pixart,paw3222";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&xiao_d 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        res-cpi = <1700>;
    };
};

// ペリフェラル（split経由）のリスナーを有効化
&peripheral_listener {
    status = "okay";
};

// excluded-positions以外のキーを押すとAMLが解除される。positionsは、lism.dtsiのpositionsと同じ順番で指定する必要がある。
//キー入力中のオートマウスレイヤー誤爆防止
&zip_temp_layer {
    require-prior-idle-ms = <350>; 

    excluded-positions = <
        //6 // U
        //7 // I
        16 // J
        17 // K
        18 // L
        26 // M
        28 // .
    >;
};

// セントラルのリスナーを有効化し、deviceを紐付け
&central_listener {
    status = "okay";
    device = <&trackball_central>;
    input-processors = 
        <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
        <&zip_temp_layer 8 10000>;

// ★追加：レイヤー4,5のときだけカーソルを遅くする設定（スナイプモード）
    snipe_mode {
        layers = <4 5>; // コメントに合わせてレイヤー2に設定（複数ある場合は <2 4 5> のように半角スペース区切りで追加してください）
        input-processors = 
            <&zip_temp_layer 8 10000>, // オートマウスの設定を引き継ぐ
            <&zip_xy_scaler 1 3>;       // カーソル移動量を1/3倍（3倍遅く）にする
　　　};

    scroller {
        layers = <9>;
        input-processors = 
            <&zip_xy_to_scroll_mapper>,
             //&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT
            <&zip_scroll_scaler 1 16>;
    };
};
